$bodybg: #F3F4F7;
$colorlines: #E4E6E9;
$colorheading: #3C4858;
$color-light: #999;
$color-purple: #e8e6ff;
$color-info: #fef7d9;
$color-pink: #fee7da;
$color-success: #f0ddff;
$color-white: #fff;
$font-family-primary: 'Open Sans', sans-serif;

$color-primary: #495057;
$font-size-primary: 13px;
$font-size-h1: 35px;
$font-size-h2: 30px;
$font-size-h3: 25px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;
$font-size-13: 13px;
$font-size-14: 14px;

$imgPath: '../images'